@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #1f2226;
  --secondary-color: #EA4D88;

  --secondary-color-hover: rgb(202, 57, 113);
}

.App {
  background-color: var(--primary-color);
  font-family: "Quicksand", sans-serif;
  display: flex;
  width: 100%;
  height: 100vh;
}
